<h1 align="center">Welcome to Candanedo's Blog</h1>
<hr>

<div align="center">
	<%= image_tag 'welcome/candanedo', class: 'creators-image' %>
</div>

<br>
<br>

<p>This is a personal blog that had to create for the asambler's language class. Basically explay all the numeric systems which are decimal, binary, octal and hexadecimal.</p>

<p>Eduardo Javier Candanedo was born in February 1st 2019, I grew up in the city of Cuauhtemoc in the beautiful state of Colima. I'm a passionet programmer deeply in love of Ruby and Ruby on Rails and it's simplicity. This language and framework correspondentely are focus on deacreasing the work load for the programmer and focuse in devolope features as fast as possible.</p>

<p>As you might assume this blog was build using Ruby and Ruby on Rails.</p>

<br>
<br>

<div class='row'>
	<%= image_tag 'welcome/ruby', class: 'img-fluid col-md-6' %>
	<%= image_tag 'welcome/ruby_on_rails', class: 'img-fluid col-md-6' %>
</div>
<p>
	In case you want to take a look to some of my other projects using Ruby on Rails, Ruby, Javascript, React and more you are always welcome to visit my repository at <%= link_to 'Github', 'https://github.com/candanedo' %>
</p>
