<h1 align="center">Hexadecimal System</h1>
<hr>
<p>
  A hexadecimal, which is also called base 16 or "hex" for short, is a representation of four binary bits and consists of sixteen numbers and letters. The numbers in a hex are the same as decimal numbers: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9. The big difference between a hex and a decimal is that a hex also contains letters. These letters are: A, B, C, D, E, F.
</p>
<p>
  A hex number can be represented using a subscript of 16 (i.e. 23516). These letters come after the decimals in ascending order. Therefore, the hexadecimal series looks like this: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, F. A hex can be considered a shorter version of a decimal. For example a large number in decimal form has a much smaller hex equivalent (using less hex bits to represent the decimal number). I will demonstrate this later.
</p>
<hr>
<div align="center">
  <%= image_tag 'hexadecimal/hexa_first' %>
</div>

<br>
<br>

<div align="center">
  <%= image_tag 'hexadecimal/hexa_second' %>
</div>
