<h1 align="center">Octal System</h1>
<h3>Octal to Binary & Binary to Octal Conversion Methods</h3>

<p>
	The base of the octal number system is 8 because it consists the digit from 0 – 7. The octal number system is converting into binary number system by grouping the binary digit in the group of three from the right of the binary number. On the other hand, the base of the binary digit is 2 and it consists only two digits 0 and 1. The octal number can easily be converted into binary by the help of the method explained below.
</p>

<h3>Octal to Binary Conversion</h3>

<p>
	The base of the octal number system (8) is the third power of base of a binary system (2), the interconversion of octal and a binary number is very simple and direct as explained below.
</p>

<p>
	Let converting the octal number 35.346 to its equivalent binary number
</p>

<div align="center">
  <%= image_tag 'octal/octal_first' %>
</div>

<p>Thus the required binary number is 011 101. 011 100 110.</p>

<h3>Binary to Octal Conversion</h3>
<p>
	The conversion of binary to octal is a reversal of the above procedure. For example, the binary number 010100111.100011 can be converted into an octal number by first written the bits in the group of three and then awarding the decimal number of to each of the group of three bits as shown below.
</p>

<div align="center">
  <%= image_tag 'octal/octal_second' %>
</div>
